.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-color);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logotype {
    cursor: pointer;
  }
}
